/*
 *  Style for the home page
 */

* {
	/* making the website to be full page */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


header{
	z-index: 50;
	width: 100%;
	background: #fff;
	/* background-image: linear-gradient(rgba(0, 170, 255, 0.6), rgba(0, 0, 0, 0.5)),url('../../Image/bg4.jpg'); */
	/* background-size: cover;
	background-repeat: no-repeat;
	background-position: center; */
	height: 100vh;
	position: relative;
	opacity: 0.9;
	/*parallax*/
	/* background-attachment: fixed; */
}

.arrow-pre{
	position: absolute;
	top: 50%;
	z-index: 59;
	cursor: pointer;
	left: 50px;
	height: auto;
	width: auto;
}

.arrow-pre svg, .arrow-next svg{
	height: 100px;
	width: 60px;
	padding: 2px;
	fill: white;
}

.arrow-pre:hover.previous{
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	        transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transform: translate3d(-15px, 5px, 0);
	        transform: translate3d(-15px, 5px, 0);
}

.arrow-pre,.arrow-next{
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	        transition: transform 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.arrow-next:hover.next{
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	        transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transform: translate3d(15px, 5px, 0) rotate(180deg);
          	transform: translate3d(15px, 5px, 0) rotate(180deg);
}

.arrow-next{
	position: absolute;
	top: 50%;
	z-index: 59;
	cursor: pointer;
	right: 50px;
	height: auto;
	width: auto;
}

.next{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg) translate(0, 6px);
}


.main-content-header{
	width: 100%;
	height: 100%;
}

.header_title{
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -59%);
}



.header_title h1{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
	font-weight: 400;
	font-size: 287px;
	text-align: center;
}

.theme_position{
	position: absolute;
	top: 66%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title1{

}

.theme{
	width: max-content;
	word-spacing: 60px;
	font-size: 31px;
	font-family: 'Thasadith', sans-serif;
}

/* Landing animation page */
.overlay{
	font-family: Poppins !important;
	background: white;
	z-index: 666;
	position: absolute;
	top: 0%;
	height: 100vh;
	width: 100%;
}

.overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      text-transform: uppercase;
      color: black;
      transform: translate(-50%, -50%);
      font-size: 25px;
      text-align: center;
      font-weight: bolder;
      letter-spacing: 5px;
      width: max-content;
}

.white{
	color: white;
}

.black{
	color: black;
}

.click1, .click2, .click3, .click4{
	cursor: pointer;
	pointer-events: auto;
}



.click1 span, .click2 span, .click3 span, .click4 span {
	display: inline-block;
}

.about-section{
	position: relative;
	width: 100%;
	height: 100vh;
	z-index: -1;
	color: black;
}

.left-about{
	position: relative;
	float: left;
	width: 53%;
	height: 100%;
	z-index: -1;
}

.left-about-1{
	opacity: 0;
	z-index: 1;
	position: absolute;
	top: -100%;
	width: 100%;
	height:100%;
}

.left-about-2{
	opacity: 0;
	z-index: 2;
	position: absolute;
	top: -100%;
	width: 100%;
	height:100%;
}


.right-about{
	position: relative;
	float: left;
	width: 47%;
	height: 100%;
	z-index: -1;
}

.right-about-1{
	z-index: 1;
	position: absolute;
	top: 100%;
	width: 100%;
	height:100%;
}

.right-about-2{
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;
	background: white;
}

.about-content-position{
	position: absolute;
	height: auto;
	width: 100%;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.about-content-position h1{
	line-height: 0.7;
	text-align: center;
	font-size: 10vw;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: -0.35vw;
	font-family: "Montserrat", sans-serif;
}

.about-content-position p{
	margin-top: 8vh;
	margin-left: 11vw;
	margin-right: 6vw;
	text-align: left;
	font-weight: 300;
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
}




.underline3{
	height: 1vh;
	width: 6vw;
	border-radius: 50px;
	position: relative;
	margin-top: 4vh;
	left: 50%;
	transform: translate(-50%,-50%);
	background: red;
}


/* About section */
.about_dec{
	background: #fce38a;
	color: black;
	z-index: -1;
	/* padding-top:64px!important;
	padding-bottom:64px!important; */
	width:100%;
	height: 80vh;
	position: relative;
}

.about-left{
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
}

.section-title-1{
	position: absolute;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 10px;
	top: 25%;
	left: 40%;
	transform: translate(-50%,-50%);
	font-size: 150px;
	font-family: 'Oswald', sans-serif;
}

.section-title-2{
	position: absolute;
	text-transform: uppercase;
	letter-spacing: 10px;
	top: 45%;
	left: 40%;
	transform: translate(-58%,-50%);
	font-size: 150px;
	font-family: 'Oswald', sans-serif;
}

.section-title-3{
	position: absolute;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 10px;
	top: 65%;
	left: 40%;
	transform: translate(-79%,-50%);
	font-size: 150px;
	font-family: 'Oswald', sans-serif;
}


.underline{
	position: absolute;
	height: 5px;
	width: 100px;
	top: 80%;
	left: 30%;
	border-radius: 50px;
	transform: translate(-65%,-50%);
	background: red;
}


.about-right{
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
}


.center{
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.paragraph{
	font-family: 'Oswald', sans-serif;
	text-align: left;
	font-size: 40px;
	width: 100%;
}


.offer_dec{
	background: #fce38a;
	font-family: 'Oswald', sans-serif;
	color: black;
	z-index: -1;
	/* padding-top:64px!important;
	padding-bottom:64px!important; */
	width:100%;
	height: 80vh;
	position: relative;
}

.center2{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.upcoming_dec{
	font-family: 'Oswald', sans-serif;
	color: black;
	background: #eaffd0;
	position: relative;
	z-index: -1;
	height: 80vh;
	width: 100%;
}

.upcoming-title{
	position: relative;
	width: 100%;
	height: 30vh;
}

.upcoming-title h1{
	letter-spacing: 5px;
	word-spacing: 10px;
	font-size: 66px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.underline2{
	border-radius: 50px;
	position: absolute;
	height: 5px;
	width: 100px;
	background: red;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}

footer{
	z-index: -1;
	width: 100%;
	height: 20vh;
	position: relative;
	background: #95e1d3;
}

.footer-title{
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
}
